
# Virtual env
jsenv/

# Database
db.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# Env files (sensitive information)
.env
jsenv/
db.sqlite3
.env
_pycache__/
db.sqlite3
